body {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    margin: 0;
    padding: 0;
}

header {
    grid-column: 2 / -2;
    grid-row: 1;
    z-index: 1;
}

header .rectangle {
    height: 150px;
    width: 100%;
    background-color: rgba(161,221,23,.3);
}

#hero {
grid-column: 1 / -1;
grid-row: 1;
z-index: 0;
}

#hero .rectangle {
height: 557px;
width: 100%;
 background-color: rgba(255,246,0,.3);
}

main {
grid-column: 2 / -2;
}

main .rectangle {
height: 290px;
width: 100%;
 background-color: rgba(25,190,227,.3);
}

#popular {
grid-column: 2 / -2;
}

#popular .rectangle {
height: 663px;
width: 100%;
 background-color: rgba(13,50,239,.3);
}

footer {
grid-column: 1 / -1;
}

footer .rectangle {
height: 93px;
width: 100%;
 background-color: rgba(251,2,255,.3);
}


